```css
body{

font-family:Arial;

text-align:center;

margin:0;

background:white;

}

header{

background:#18abb1;

color:white;

padding:20px;

}

.container{

max-width:900px;

margin:auto;

padding:20px;

}

select,button{

padding:10px;

margin:10px;

width:80%;

max-width:400px;

}

button{

background:#18abb1;

color:white;

border:none;

border-radius:6px;

cursor:pointer;

}

.question{

font-size:20px;

margin:20px;

}

.option{

background:#f4f4f4;

padding:12px;

margin:8px;

border-radius:6px;

cursor:pointer;

}

.correct{

background:#85c341;

color:white;

}

.wrong{

background:red;

color:white;

}
```
